*{
	color: $font;
	font-family: 'Ubuntu', sans-serif;
}

html, body{
	height: 100%;
}

body{
	background: #f5f5f5;
}


a{
	transition: color .2s;
	text-decoration: none;
	
	&:hover{
		color: $accent;
	}
}

p{
	margin: 0;
}

img{
	max-width: 100%;
}

// липкий футер
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.content{
	flex: 1 0 auto;
}

footer{
	flex: 0 0 auto;
}


.heading-page{
	margin-bottom: 20px;
	h1, h2, h3{
		font-weight: normal;
		margin: 0;
		font-size: 34px;
	}
}

.index{
	.index-slider{
		//border: 1px solid red;
		height: 360px;
		margin: 0 auto 30px;

		.VueCarousel-slide{
			height: 360px;
			border-radius: 4px;
			overflow: hidden;
			img{
				width: 100%;
			}
		}

		.VueCarousel-pagination{
			margin-top: -25px;
			z-index: 2;

			.VueCarousel-dot-container{		
				margin-top: 0px !important;

				.VueCarousel-dot{
					padding: 0 !important;
					margin-top: 0 !important;
					margin-right: 8px;
					outline: none !important;
					height: 10px !important;
					width: 10px !important;

					background: rgba(#000, .2) !important;

					&:last-child{
						margin-right: 0;
					}

					&.VueCarousel-dot--active{
						background: rgba($accent, .8) !important;
					}
				}
			}
		}
	}
}



.goods-slider{
	//border: 1px solid red;
	margin-left: -10px;
	margin-right: -10px;
	
	.VueCarousel-slide{
		padding: 5px 10px;
	}

	.VueCarousel-pagination{
		margin-top: 20px;
		z-index: 2;

		.VueCarousel-dot-container{		
			margin-top: 0px !important;

			.VueCarousel-dot{
				padding: 0 !important;
				margin-top: 0 !important;
				margin-right: 8px;
				outline: none !important;
				height: 10px !important;
				width: 10px !important;

				background: rgba(#000, .2) !important;

				&:last-child{
					margin-right: 0;
				}

				&.VueCarousel-dot--active{
					background: rgba($accent, .8) !important;
				}
			}
		}
	}
}


.productCard{
	

	&--mini{
		//border: 1px solid red;
		//margin-left: 20px;
		//margin-right: 10px;
		margin-bottom: 0;
		height: 100%;

		.photo{
			//border: 1px solid red;
			height: 140px;
			a{
				padding: 15px;
			}
		}

		.info{
			//border: 1px solid red;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: calc(100% - 200px);

			.name{
				padding: 0px 10px;
				//border: 1px solid red;
				a{
					font-size: 16px;
					line-height: 1.1em;

					&:hover{
						color: #526194;
					}
				}
			}

			.price_and_btn_add{
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 10px 0px 10px 10px;

				.price{
					display: flex;

					p{
						font-size: 18px;
					}

					.old-price{
						font-size: 12px;
						position: relative;
						margin-top: 3px;
						margin-right: 8px;

						&:before{
							margin-top: 1px;
						}
					}
				}

				.btn_add{
					height: 28px;
					width: 36px;

					&:hover{
						background: #526194;
					}

					a{
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 0 6px;
						
						img{
							height: 18px;
							display: block;
							margin-right: 0;
						}
					}

					&.active{
						background: #526194;
					}
				}
			}
		}
	}
}













.menu-catalog{
	max-width: 1110px;
	width: 100%;
	margin: 0 auto;
	//border: 1px solid red;
	position: relative;

	display: none;

	.menu-catalog_root{
		//border: 1px solid red;
		//width: 260px;
		position: absolute;
		z-index: 99;
		background: #fff;
		//border-radius: 0px 0px 4px 4px;
		box-shadow: 0 1px 5px 1px rgba(0,0,0,0.25);
		padding: 20px 0;



		.title-menu-catalog{
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 15px;
			padding: 5px;
			border-radius: 4px;
			background: $font;
			text-align: center;
			p{
				margin-bottom: 0;
				color: #fff;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 12px;
			}
		}


		.list-root-categories{

			.item{
				//border: 1px solid red;
				padding: 10px 20px;

				display: flex;
				align-items: center;
	
				&:hover{
					background: #f5f5f5;

					.sub_categories{
						display: flex;
					}
				}

				.icon{
					//border: 1px solid red;
					width: 30px;
					height: 30px;
					flex: none;
					margin-right: 10px;

					img{
						height: 30px;
						display: block;
					}
				}


				.category{

					.main-category{
						a{
							font-size: 16px;
							line-height: 1em;
							text-transform: uppercase;
							font-weight: bold;
						}
					}

					.sub{
						//border: 1px solid red;
						margin-top: 2px;
		
						a{
							font-size: 13px;
							line-height: 1em;
		
							&:nth-child(2){
								margin-left: 10px;
							}
						}
					}
				}

				.sub_categories{
					position: absolute;
					top: 0;
					left: 0;
					margin-left: 100%;

					background: #fff;
					box-shadow: 0 1px 5px 1px rgba(0,0,0,0.25);

					//display: flex;

					display: none;


					.column{
						//border: 1px solid red;
						padding: 20px;
						width: 260px;
						flex: none;

						.sub_category{
							margin-bottom: 20px;

							&:last-child{
								margin-bottom: 0;
							}

							.main-category{
								margin-bottom: 6px;
								display: flex;
								align-items: center;

								.icon{
									//border: 1px solid red;
									width: 26px;
									height: 26px;
									flex: none;
									margin-right: 8px;
									
									img{
										display: block;
										max-height: 26px;
									}
								}

								
								a{
									font-size: 16px;
									font-weight: bold;
								}
							}

							.sub{
								display: flex;
								flex-direction: column;
								margin-bottom: 10px;
								margin-left: 34px;
								a{
									display: inline-block;
									margin-bottom: 8px;
									font-size: 14px;

									&:last-child{
										margin-bottom: 0;
									}
								}

								.all-categories{
									font-weight: bold;
									font-size: 13px;
									margin-top: 2px;

									span{
										margin-left: 2px;
									}
								}
							}
						}
					}

					.column-ads{
						width: 260px;
						//border: 1px solid;
						flex: none;

						.item{
							//border: 1px solid red;
							height: 450px;
							background: blue;

							a{
								display: block;
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
}

