*{
	color: $font;
	font-family: 'Ubuntu', sans-serif;
}

html, body{
	height: 100%;
}

body{
	background: #f5f5f5;
}

a{
	transition: color .2s;
	text-decoration: none;
	
	&:hover{
		color: $accent;
	}
}

p{
	margin: 0;
}

img{
	max-width: 100%;
}

// липкий футер
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.content{
	flex: 1 0 auto;
}

footer{
	flex: 0 0 auto;
}


.heading-page{
	margin-bottom: 20px;
	h1, h2, h3{
		font-weight: normal;
		margin: 0;
		font-size: 34px;
	}
}

.index{
	.index-slider{
		//border: 1px solid red;
		height: 360px;
		margin: 0 auto 30px;

		.VueCarousel-slide{
			height: 360px;
			border-radius: 4px;
			overflow: hidden;
			img{
				width: 100%;
			}
		}

		.VueCarousel-pagination{
			margin-top: -25px;
			z-index: 2;

			.VueCarousel-dot-container{		
				margin-top: 0px !important;

				.VueCarousel-dot{
					padding: 0 !important;
					margin-top: 0 !important;
					margin-right: 8px;
					outline: none !important;
					height: 10px !important;
					width: 10px !important;

					background: rgba(#000, .2) !important;

					&:last-child{
						margin-right: 0;
					}

					&.VueCarousel-dot--active{
						background: rgba($accent, .8) !important;
					}
				}
			}
		}
	}
}



.goods-slider{
	//border: 1px solid red;
	margin-left: -10px;
	margin-right: -10px;
	
	.VueCarousel-slide{
		padding: 5px 10px;
	}

	.VueCarousel-pagination{
		margin-top: 20px;
		z-index: 2;

		.VueCarousel-dot-container{		
			margin-top: 0px !important;

			.VueCarousel-dot{
				padding: 0 !important;
				margin-top: 0 !important;
				margin-right: 8px;
				outline: none !important;
				height: 10px !important;
				width: 10px !important;

				background: rgba(#000, .2) !important;

				&:last-child{
					margin-right: 0;
				}

				&.VueCarousel-dot--active{
					background: rgba($accent, .8) !important;
				}
			}
		}
	}
}











